*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
    background-color: aliceblue;
}

.continair{
    background-color: aquamarine;
    width: 120vh;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 3px 4px rgb(49, 48, 48);
}
.inputs{
    
    height: 30vh;
}
.inputs h2{
    margin-bottom: 10px;
}
.inputs button{
     margin: 5px;
    padding: 5px 20px; 
    border: none;
    background-color: aquamarine;
    transition:0.7s ease;
}
.inputs button:hover{ 
    transform: scale(1.1);
    
}
.inputs input{
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
    background-color:aquamarine ;
    outline: none;
}

   
    
    

.box input{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
    background-color:aquamarine ;
    outline: none;
}
#ulEl{
     display: flex;
    justify-content: space-between; 
    width: 120vh;
    

}
li{
    list-style: none;
    margin: 5px;
    padding: 10px;
    background-color:rgb(84, 175, 84);
    color:antiquewhite ;
    border-radius: 10px;
    width: 110vh;
}

 
  

 .delete{
    background-color:  aquamarine;;
    margin: 5px;
    padding: 5px 20px;
    border: none;
    margin: 2px;
    transition:0.7s ease;
    

}
.delete:hover{ 
    transform: scale(1.1);
     
} 
#search{
    margin: 5px;
    padding: 5px 20px;
    transition: 0.5s ease;
    background-color: aquamarine;
    border: none;
    transition:0.7s ease;
}
#search:hover{
    transform:scale(1.1);
}

    

